<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}Template - HelloFlask{% endblock %}</title>
        {% block styles %}{% endblock %} {% endblock %}
</head>
<body>
<nav>
    <ul>
        <li><a href="{{ url_for('templates', filename = 'index.html') }}">Home</a></li>
    </ul>
</nav>
<main>
    {% block content %}<h1>This is the content block in base.html</h1>{% endblock %}
</main>
<footer>
    {% block footer %}
        This is the footer in base.html
    {% endblock %}
</footer>
{% block scripts %}
Here is the scripts in base.html.
{% endblock %}
</body>
</html>